/dot/.zsh/completions/*
!/dot/.zsh/completions/.gitkeep
/dot/.config/karabiner/automatic_backups/
/dot/.config/karabiner/assets/complex_modifications/*
!/dot/.config/karabiner/assets/complex_modifications/mysettings.json
Brewfile.lock.json
