# .config
/dot/.config/gcloud/
/dot/.config/gh/
/dot/.config/github-copilot/
/dot/.config/iterm2/
/dot/.config/raycast/

# karabiner
/dot/.config/karabiner/assets/complex_modifications/*
/dot/.config/karabiner/automatic_backups/
!/dot/.config/karabiner/assets/complex_modifications/mysettings.json

# zed
/dot/.config/zed/*
!/dot/.config/zed/keymap.json
!/dot/.config/zed/settings.json

# zsh
/dot/.zsh/completions/*
!/dot/.zsh/completions/.gitkeep

# single files
Brewfile.lock.json
lazy-lock.json
